.companies__main {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	grid-gap: 0 20px;

	img {
		width: 18%;

		@media(max-width: 900px) {
			width: 33%;
		}
	}
}

.companies {
	margin: 250px 0 160px;

	@media(max-width: 850px) {
		margin: 75px 0 95px;
	}
}