.creators {
	margin-top: 80px;
}

.creators__main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 56px 72px;
}

.creators__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #302034;
	box-shadow: inset 2px 0px 0px #E03054;
	padding: 26px 30px;

	img {
		display: block;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 24px;
	}
}

.creators__innner {
	display: flex;
	align-items: center;
}

.creators__name {
	font-family: 'Oxanium';
	font-weight: 600;
	font-size: 32px;
	line-height: 35px;
	/* identical to box height, or 111% */

	letter-spacing: 0.05em;

	color: #F5FBF2;

}

.creators__price {
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height, or 150% */

	display: flex;
	align-items: center;
	margin-top: 8px;
	color: #BDAAC1;
}

.creators__count {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: -45px;
		transform: translateY(-50%);
		height: 100%;
		width: 3px;
		background: #49374E;
	}
}

.creators__count {
	font-family: 'Oxanium';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 35px;
	/* identical to box height, or 111% */

	letter-spacing: 0.05em;

	color: #F5FBF2;
	margin-bottom: 6px;
}

.creators__items {
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height, or 150% */


	color: #908294;
}