.popular {
	margin-top: 170px;

	background-image: url('../img/popular-effect.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0 -50px;

	.auctions__img {
		img {
			max-height: 270px;
		}
	}

	.auctions-profile__nick {
		font-weight: 500;
		font-size: 32px;
		line-height: 36px;
		color: #F5FBF2;

		@media(max-width: 900px) {
			font-size: 17px;
		}
	}

	.auctions-profile__likes {
		span {
			font-weight: 600;
			font-size: 20px;
			line-height: 35px;
			color: #C2B5C6;
		}

	}

	.auctions__profile {
		margin-bottom: 0;
	}
}

.popular__main {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		width: 200px;
		height: 100%;
		background: linear-gradient(to left,
				rgba(#000, .7),
				rgba(#000, 0));
		filter: blur(8px);
		-webkit-filter: blur(8px);
		z-index: 2;
	}

	@media(max-width: 600px) {
		&:after {
			display: none;
		}
	}
}

.swiper-button-prev2,
.swiper-button-next2 {
	top: 50%;
	transform: translateY(-50%);
}

.swiper-button-prev2 {
	left: 0;
}

.swiper-button-next2 {
	right: 0;
}

.popular-slider {
	padding: 0 !important;
}

.swiper-button-prev2.swiper-button-disabled,
.swiper-button-next2.swiper-button-disabled {
	display: none;
	cursor: auto;
	pointer-events: none;
}